

body {
    /* background-color: #000000; */
    color: whitesmoke;
    background-image: url(https://www.spacex.com/static/images/backgrounds/home_feature.webp);
    background-size: 2000px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 50px;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: xx-large;
}

h3 {
    font-size: large;
}
.logo{
    width: 133px;
    height: 30px
    /* margin-left: 10%; */
}

.sidebar-button{
    margin-right: 30px;
    height: 16px;
    width: 16px
}

.caption{
    height:150px;
    width: auto;
    position: relative;
    left: 150px;
    bottom: -55vh;
}

header nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly; 
    margin: 0 0 10px 10px;
}